body {
    background-color:#f4f4f4;
    color:#555555;
    font: normal 18px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin:0;
}
h1 {
    color: #555;
    margin: 5%;
    padding:0;
    font-size: 40px;
}
nav {
    z-index: 1000;
    background-color: #333;
    overflow: auto;
    margin: 0;
    padding:0;
    position: sticky;
    top: 0;
}
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    background-color: #ccc;
    color: black;
}
nav a.active {
    background-color:#285fb7;
    color:white;
}
.adminWrapper{
    width: 85%;
    margin: 60px auto;
}
.adminWrapper > h1{
    margin:10px 0 20px 0;
    padding:0;
}
.adminWrapper > h3{
    margin: 10px 0 5px 0;
}
.adminWrapper > span{
    margin: 5px 20px;
}
.important {
    text-decoration: underline;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    display:block;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.btn-danger {
    color: #fbdedd;
    background: #ff4b37;
}
.btn {
    display: block;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 1.4rem;
    border-radius: 3px;
    border: 1px solid transparent;
    text-decoration: none;
    user-select: none;
}
h4{
    margin: 1%;
    padding: 0;
    text-decoration: underline;
}
table{
    color: black;
}
.RedNext tr:nth-child(even) td:nth-child(1){
    background-color: rgba(0, 0, 255, 0.31);
}
.RedNext tr:nth-child(odd) td:nth-child(1){
    background-color: rgba(255, 0, 0, 0.3);
}
.BlueNext tr:nth-child(even) td:nth-child(1){
    background-color: rgba(255, 0, 0, 0.31);
}
.BlueNext tr:nth-child(odd) td:nth-child(1){
    background-color: rgba(0, 0, 255, 0.3);
}
Red{
    color: red;
}
Blue{
    color: blue;
}
